<!DOCTYPE html>
    <html lang="en">
    <head>
        <link rel="stylesheet" href="style.css">
        
        <style>
        </style>

        <h1>Malawi Gradcbook</h1>
    </head>

    <body>
      <div class="seachbar">
        <textarea name="search" id="searchbar" cols="100" rows="1"></textarea>
      </div>
        
        <div class="filter"> 
          <div class="sort">
            <button class="filter_btn">Filter</button>
            <div class="dropdown-content">
              <a href="main_menu.html">Name</a>
              <a href="#">Class</a>
            </div>

            

           
          </div>

          <div class="sort">
            <button class="filter_btn">Sort</button>
            <div class="dropdown-content">
              <a href="#">Newest</a>
              <a href="#">Oldest</a> 
            </div>
          </div>

        </div>

        <div class="grades">
          <img src="" alt="">

        </div>
        
        

        
    </body>




    </html>

