<!DOCTYPE html>
    <html lang="en">
    <head>
        <link rel="stylesheet" href="style.css">
        <div class="header">
          <h1>Malawi Gradebook</h1>
        </div>
        
    </head>

    <body>
      <div class="settings">
        <div class="seachbar">
          <textarea name="search" id="searchbar" cols="100" rows="1"></textarea>
        </div>
          
          <div class="filter"> 
            <div class="sort">
              <button class="filter_btn">Filter By:</button>
              <div class="dropdown-content">
                <a href="main_menu.html">Name</a>
                <a href="#">Class</a>
              </div>
  
             
            </div>
  
            <div class="sort">
              <button class="filter_btn">Sort By:</button>
              <div class="dropdown-content">
                <a href="#">Newest</a>
                <a href="#">Oldest</a> 
              </div>
            </div>
  
          </div>
      </div>
      

        <div class="grades">
          <img src="Gradesheet.png" alt="">

        </div>
        
        

        
    </body>




    </html>

